In [2]:
import pandas as pd
import numpy as np

In [8]:
# 속도테스트
# 1,000,000 이상의 rows를 불러오면 속도가 엄청 느려진다.
#_ = pd.read_csv("./dataset/battleground.csv")

In [28]:
path1 = "./dataset/titinic.csv"
path2 = "./dataset/battleground.csv"
titi = pd.read_csv(path1)
batt_chunk = pd.read_csv(path2,chunksize=1000000)
# chunksize를 이용하면 chunk를 chunksize 묶음으로 나눈 df묶음이 된다

In [29]:
for aa in batt_chunk:
    display(aa.head(3))

,Id,groupId,matchId,assists,boosts,damageDealt,DBNOs,headshotKills,heals,killPlace,...,revives,rideDistance,roadKills,swimDistance,teamKills,vehicleDestroys,walkDistance,weaponsAcquired,winPoints,winPlacePerc
0,7f96b2f878858a,4d4b580de459be,a10357fd1a4a91,0,0,0.00,0,0,0,60,...,0,0.0000,0,0.00,0,0,244.8,1,1466,0.4444
1,eef90569b9d03c,684d5656442f9e,aeb375fc57110c,0,0,91.47,0,0,0,57,...,0,0.0045,0,11.04,0,0,1434.0,5,0,0.6400
2,1eaf90ac73de72,6a4a42c3245a74,110163d8bb94ae,1,0,68.00,0,0,0,47,...,0,0.0000,0,0.00,0,0,161.8,2,0,0.7755

,Id,groupId,matchId,assists,boosts,damageDealt,DBNOs,headshotKills,heals,killPlace,...,revives,rideDistance,roadKills,swimDistance,teamKills,vehicleDestroys,walkDistance,weaponsAcquired,winPoints,winPlacePerc
1000000,aeb325bfa069c5,b10b3842b9cc55,855dda2fbf65bc,0,0,0.0,0,0,0,82,...,0,0.0,0,0.0,0,0,107.9,1,0,0.1458
1000001,dfdc4200bd7a08,cc150ef279a223,c4ef41ee667470,0,1,0.0,0,0,1,71,...,0,0.0,0,0.0,0,0,210.5,4,1626,0.3103
1000002,70822477c97f16,c7279268417250,2275c69d8d21c1,0,6,381.5,2,1,3,4,...,0,0.0,0,0.0,0,0,3544.0,3,0,0.9388

,Id,groupId,matchId,assists,boosts,damageDealt,DBNOs,headshotKills,heals,killPlace,...,revives,rideDistance,roadKills,swimDistance,teamKills,vehicleDestroys,walkDistance,weaponsAcquired,winPoints,winPlacePerc
2000000,edc5c48cdca6c6,8258c1be96a3c7,f8c4fb88f17497,0,0,0.0,0,0,0,75,...,0,0.0,0,0.0,0,0,412.70,2,0,0.2917
2000001,78ed006a806b76,2106bb1bab4558,0fe706374db8c0,0,0,0.0,0,0,0,93,...,0,0.0,0,0.0,0,0,17.10,0,0,0.0210
2000002,6cd08e0135eb0d,6b94453c2c0a80,b16c3ea07a9c67,0,0,51.6,0,0,0,76,...,0,0.0,0,0.0,0,0,90.44,2,0,0.2766

,Id,groupId,matchId,assists,boosts,damageDealt,DBNOs,headshotKills,heals,killPlace,...,revives,rideDistance,roadKills,swimDistance,teamKills,vehicleDestroys,walkDistance,weaponsAcquired,winPoints,winPlacePerc
3000000,6840c7f9ecad92,876f39423857e5,6532c2dacb22bd,0,0,0.0,0,0,0,84,...,0,0.0,0,0.0,0,0,205.0,1,1507,0.1875
3000001,6d34a7df33c4c0,d1240831f7c65b,d0b283e98f3c48,0,0,0.0,0,0,0,79,...,0,0.0,0,0.0,0,0,235.7,2,0,0.2421
3000002,f49e079c777b60,0cf74c2cdf8fba,397eccfeb33b92,0,0,0.0,0,0,0,84,...,0,0.0,0,0.0,0,0,31.5,0,0,0.1263

,Id,groupId,matchId,assists,boosts,damageDealt,DBNOs,headshotKills,heals,killPlace,...,revives,rideDistance,roadKills,swimDistance,teamKills,vehicleDestroys,walkDistance,weaponsAcquired,winPoints,winPlacePerc
4000000,e2685a97e81403,4ca62d0bda4c6f,717f68cbb7f155,0,0,0.00,0,0,1,65,...,0,0.0,0,0.0,0,0,992.2,7,0,0.3830
4000001,d9483825ba1c3e,19d241d0dc28da,2e01ec07077e39,0,0,19.35,0,0,0,89,...,0,0.0,0,0.0,0,0,122.8,1,1461,0.0370
4000002,d935a5e4d9ceb2,4731a25c63c698,e34a9178e40c01,0,3,439.60,3,2,4,3,...,0,0.0,0,0.0,0,0,3076.0,11,0,0.8723