In [290]:
# 필요한 라이브러리 설치 및 임포트
# !pip install pandas

import pandas as pd
import datetime

---

# [Step 2] 데이터 전처리

#### **<span style="color:blue">[2-0] air_21, air_22, weather_21, weather_22 데이터 로딩</span>**

In [291]:
# 데이터 로딩
air_21 = pd.read_csv('./air_2021.csv',index_col=0)
air_22 = pd.read_csv('./air_2022.csv',index_col=0)
weather_21 = pd.read_csv('./weather_2021.csv',encoding='cp949')
weather_22 = pd.read_csv('./weather_2022.csv',encoding='cp949')

In [292]:
air_21.tail(2)

,지역,망,측정소코드,측정소명,측정일시,SO2,CO,O3,NO2,PM10,PM25,주소
8758,서울 종로구,도시대기,111123,종로구,2021093023,0.003,0.6,0.004,0.042,33.0,19.0,서울 종로구 종로35가길 19
8759,서울 종로구,도시대기,111123,종로구,2021093024,0.003,0.6,0.003,0.042,29.0,17.0,서울 종로구 종로35가길 19

In [293]:
air_22.tail(2)

,지역,망,측정소코드,측정소명,측정일시,SO2,CO,O3,NO2,PM10,PM25,주소
2158,서울 종로구,도시대기,111123,종로구,2022033123,0.003,0.3,0.036,0.015,11.0,5.0,서울 종로구 종로35가길 19
2159,서울 종로구,도시대기,111123,종로구,2022033124,0.002,0.4,0.033,0.017,9.0,5.0,서울 종로구 종로35가길 19

#### **<span style="color:blue">[2-1] air_21, air_22 의 '측정일시'를 활용하여 'time' 변수 생성</span>**

* air_21, air_22 의 '측정일시'를 활용하여 'time'변수 생성
* time 변수를 to_datetime으로 데이터 타입 변경
* 참고: 미세먼지 데이터는 1시-24시, 날씨 데이터는 0시-23시로 구성되어 있습니다. [2-5]에서 미세먼지와 날씨 데이터를 time 기준으로 합치려면 날씨 기준이 동일해야 합니다. 미세먼지 데이터에서 time 변수 생성 시 이를 미리 고려(예:측정일시 값 -1)하세요.

In [294]:
air_21['측정일시'].head(2)

0    2021100101
1    2021100102
Name: 측정일시, dtype: int64

In [295]:
# 아래에 필요한 코드를 작성하고 결과를 확인합니다.
air_21['측정일시'] = air_21['측정일시']-1
air_21['time']=pd.to_datetime(air_21['측정일시'],format='%Y%m%d%H')
air_21.tail(2)

,지역,망,측정소코드,측정소명,측정일시,SO2,CO,O3,NO2,PM10,PM25,주소,time
8758,서울 종로구,도시대기,111123,종로구,2021093022,0.003,0.6,0.004,0.042,33.0,19.0,서울 종로구 종로35가길 19,2021-09-30 22:00:00
8759,서울 종로구,도시대기,111123,종로구,2021093023,0.003,0.6,0.003,0.042,29.0,17.0,서울 종로구 종로35가길 19,2021-09-30 23:00:00

In [296]:
# 아래에 필요한 코드를 작성하고 결과를 확인합니다.
air_22['측정일시'] = air_22['측정일시']-1
air_22['time']=pd.to_datetime(air_22['측정일시'],format='%Y%m%d%H')
air_22.tail(2)

,지역,망,측정소코드,측정소명,측정일시,SO2,CO,O3,NO2,PM10,PM25,주소,time
2158,서울 종로구,도시대기,111123,종로구,2022033122,0.003,0.3,0.036,0.015,11.0,5.0,서울 종로구 종로35가길 19,2022-03-31 22:00:00
2159,서울 종로구,도시대기,111123,종로구,2022033123,0.002,0.4,0.033,0.017,9.0,5.0,서울 종로구 종로35가길 19,2022-03-31 23:00:00

---

#### **<span style="color:blue">[2-2] weather_21, weather_22 의 '일시'를 활용하여 'time' 변수 생성</span>**

* weather_21, weather_22 의 '일시'를 활용하여 'time'변수 생성
* time 변수를 to_datetime으로 데이터 타입 변경

In [297]:
weather_22['일시'].tail(2)

2158    2022-03-31 22:00
2159    2022-03-31 23:00
Name: 일시, dtype: object

In [298]:
# 아래에 필요한 코드를 작성하고 결과를 확인합니다.
weather_21['time']=pd.to_datetime(weather_21['일시'],format='%Y-%m-%d %H:%M')
weather_22['time']=pd.to_datetime(weather_22['일시'],format='%Y-%m-%d %H:%M')
weather_22.tail(2)

,지점,지점명,일시,기온(°C),기온 QC플래그,강수량(mm),강수량 QC플래그,풍속(m/s),풍속 QC플래그,풍향(16방위),...,시정(10m),지면상태(지면상태코드),현상번호(국내식),지면온도(°C),지면온도 QC플래그,5cm 지중온도(°C),10cm 지중온도(°C),20cm 지중온도(°C),30cm 지중온도(°C),time
2158,108,서울,2022-03-31 22:00,9.3,NaN,NaN,NaN,1.9,NaN,50,...,2000,NaN,NaN,7.3,NaN,11.4,11.1,10.9,10.5,2022-03-31 22:00:00
2159,108,서울,2022-03-31 23:00,8.4,NaN,NaN,NaN,1.2,NaN,360,...,2000,NaN,NaN,6.7,NaN,11.0,10.8,10.8,10.5,2022-03-31 23:00:00

---

#### **<span style="color:blue">[2-3] 'time' 기준으로 데이터 합치기</span>**

* 미세먼지 데이터와 날씨 데이터를 'time' 기준으로 합쳐보세요.
* df_21에는 'time' 기준으로 21년도 미세먼지, 날씨 데이터를 합쳐보세요.
* df_22에는 'time' 기준으로 22년도 미세먼지, 날씨 데이터를 합쳐보세요.

In [299]:
# 아래에 필요한 코드를 작성하고 결과를 확인합니다.
df_21 = pd.merge(air_21,weather_21,how='inner',on='time')

In [300]:
df_22 = pd.merge(air_22,weather_22,how='inner',on='time')

In [301]:
df_21.tail(2)

,지역,망,측정소코드,측정소명,측정일시,SO2,CO,O3,NO2,PM10,...,최저운고(100m ),시정(10m),지면상태(지면상태코드),현상번호(국내식),지면온도(°C),지면온도 QC플래그,5cm 지중온도(°C),10cm 지중온도(°C),20cm 지중온도(°C),30cm 지중온도(°C)
8757,서울 종로구,도시대기,111123,종로구,2021093022,0.003,0.6,0.004,0.042,33.0,...,NaN,2000,NaN,NaN,18.6,NaN,23.0,22.8,22.9,22.9
8758,서울 종로구,도시대기,111123,종로구,2021093023,0.003,0.6,0.003,0.042,29.0,...,NaN,2000,NaN,NaN,18.1,NaN,22.6,22.5,22.8,22.9

In [302]:
df_22.tail(2)

,지역,망,측정소코드,측정소명,측정일시,SO2,CO,O3,NO2,PM10,...,최저운고(100m ),시정(10m),지면상태(지면상태코드),현상번호(국내식),지면온도(°C),지면온도 QC플래그,5cm 지중온도(°C),10cm 지중온도(°C),20cm 지중온도(°C),30cm 지중온도(°C)
2158,서울 종로구,도시대기,111123,종로구,2022033122,0.003,0.3,0.036,0.015,11.0,...,10.0,2000,NaN,NaN,7.3,NaN,11.4,11.1,10.9,10.5
2159,서울 종로구,도시대기,111123,종로구,2022033123,0.002,0.4,0.033,0.017,9.0,...,10.0,2000,NaN,NaN,6.7,NaN,11.0,10.8,10.8,10.5

---

#### **<span style="color:blue">[2-4] 사용하지 않을 변수 제거</span>**

* 머신러닝에 사용하지 않을 변수들을 제거해줍니다.
* df_21, df_22에 사용할 변수들만 넣어보세요.

In [303]:
#df_21[''].nunique()
#df_21['일시'].tail(20)
# 지역, 망, 측정소코드, 측정소명, 측정일시, 일시, Qc플래그들

# 살릴거
cols = ['time','SO2','CO','O3','NO2','PM10','PM25',\
    '기온(°C)','강수량(mm)','풍속(m/s)','풍향(16방위)','습도(%)',\
    '증기압(hPa)','현지기압(hPa)','일조(hr)','일사(MJ/m2)','적설(cm)',\
    '지면온도(°C)',]

In [304]:
df_21.columns

Index(['지역', '망', '측정소코드', '측정소명', '측정일시', 'SO2', 'CO', 'O3', 'NO2', 'PM10',
       'PM25', '주소', 'time', '지점', '지점명', '일시', '기온(°C)', '기온 QC플래그',
       '강수량(mm)', '강수량 QC플래그', '풍속(m/s)', '풍속 QC플래그', '풍향(16방위)', '풍향 QC플래그',
       '습도(%)', '습도 QC플래그', '증기압(hPa)', '이슬점온도(°C)', '현지기압(hPa)', '현지기압 QC플래그',
       '해면기압(hPa)', '해면기압 QC플래그', '일조(hr)', '일조 QC플래그', '일사(MJ/m2)',
       '일사 QC플래그', '적설(cm)', '3시간신적설(cm)', '전운량(10분위)', '중하층운량(10분위)',
       '운형(운형약어)', '최저운고(100m )', '시정(10m)', '지면상태(지면상태코드)', '현상번호(국내식)',
       '지면온도(°C)', '지면온도 QC플래그', '5cm 지중온도(°C)', '10cm 지중온도(°C)',
       '20cm 지중온도(°C)', '30cm 지중온도(°C)'],
      dtype='object')

In [305]:
# df_21, df_22에 사용할 변수들만 할당
cols = ['time','SO2','CO','O3','NO2','PM10','PM25',\
    '기온(°C)','강수량(mm)','풍속(m/s)','풍향(16방위)','습도(%)',\
    '증기압(hPa)','현지기압(hPa)',\
    '지면온도(°C)',]
df_21 = df_21[cols]
df_22 = df_22[cols]
df_22.head(2)

,time,SO2,CO,O3,NO2,PM10,PM25,기온(°C),강수량(mm),풍속(m/s),풍향(16방위),습도(%),증기압(hPa),현지기압(hPa),지면온도(°C)
0,2022-01-01 00:00:00,0.003,0.4,0.026,0.016,23.0,12.0,-8.5,NaN,1.9,320,41,1.3,1021.9,-7.0
1,2022-01-01 01:00:00,0.003,0.4,0.022,0.020,20.0,9.0,-9.2,NaN,1.8,270,42,1.3,1022.2,-7.2

In [306]:
# time 변수를 index로 세팅
df_21.set_index('time',drop=True,inplace=True)
df_22.set_index('time',drop=True,inplace=True)
df_22.head(2)

,SO2,CO,O3,NO2,PM10,PM25,기온(°C),강수량(mm),풍속(m/s),풍향(16방위),습도(%),증기압(hPa),현지기압(hPa),지면온도(°C)
time,,,,,,,,,,,,,,
2022-01-01 00:00:00,0.003,0.4,0.026,0.016,23.0,12.0,-8.5,NaN,1.9,320,41,1.3,1021.9,-7.0
2022-01-01 01:00:00,0.003,0.4,0.022,0.020,20.0,9.0,-9.2,NaN,1.8,270,42,1.3,1022.2,-7.2

---

#### **<span style="color:blue">[2-5] 변수들의 결측치 처리</span>**

In [307]:
# df_21, df_22의 결측치 확인
print(df_21.info())

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 8759 entries, 2021-10-01 00:00:00 to 2021-09-30 23:00:00
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   SO2        8647 non-null   float64
 1   CO         8679 non-null   float64
 2   O3         8662 non-null   float64
 3   NO2        8679 non-null   float64
 4   PM10       8654 non-null   float64
 5   PM25       8662 non-null   float64
 6   기온(°C)     8759 non-null   float64
 7   강수량(mm)    949 non-null    float64
 8   풍속(m/s)    8757 non-null   float64
 9   풍향(16방위)   8757 non-null   float64
 10  습도(%)      8759 non-null   int64
 11  증기압(hPa)   8759 non-null   float64
 12  현지기압(hPa)  8759 non-null   float64
 13  지면온도(°C)   8754 non-null   float64
dtypes: float64(13), int64(1)
memory usage: 1.0 MB
None

In [308]:
# df_21, df_22의 변수 중 '강수량(mm)'의 결측치를 처리
df_21['강수량(mm)'].fillna(0,inplace=True)
df_22['강수량(mm)'].fillna(0,inplace=True)
#print(df_21.info())

In [309]:
# df_21, df_22의 남은 결측치를 처리
air_cols = ['SO2','CO','O3','NO2','PM10','PM25','지면온도(°C)']
df_21[air_cols] = df_21[air_cols].bfill()
df_22[air_cols] = df_22[air_cols].bfill()

In [310]:
# df_21, df_22의 결측치 재확인
print(df_21.info())

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 8759 entries, 2021-10-01 00:00:00 to 2021-09-30 23:00:00
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   SO2        8759 non-null   float64
 1   CO         8759 non-null   float64
 2   O3         8759 non-null   float64
 3   NO2        8759 non-null   float64
 4   PM10       8759 non-null   float64
 5   PM25       8759 non-null   float64
 6   기온(°C)     8759 non-null   float64
 7   강수량(mm)    8759 non-null   float64
 8   풍속(m/s)    8757 non-null   float64
 9   풍향(16방위)   8757 non-null   float64
 10  습도(%)      8759 non-null   int64
 11  증기압(hPa)   8759 non-null   float64
 12  현지기압(hPa)  8759 non-null   float64
 13  지면온도(°C)   8759 non-null   float64
dtypes: float64(13), int64(1)
memory usage: 1.0 MB
None

---

#### **<span style="color:blue">[2-6] 전일 같은 시간 변수 추가</span>**

* 모델링에 유용한 변수로 전일 같은 시간(24시간 전) 미세먼지 농도 변수를 추가합니다. 
* 시계열 데이터 처리를 위한 shift 연산을 참고하세요.

In [311]:
# df_21, df_22의 index(time)를 month, day, hour 로 쪼개기 (year는 필요 없음)

df_21['month'] = df_21.index.month
df_21['day'] = df_21.index.day
df_21['hour'] = df_21.index.hour


df_22['month'] = df_22.index.month
df_22['day'] = df_22.index.day
df_22['hour'] = df_22.index.hour

In [312]:
# df_21, df_22에 전일 같은 시간 미세먼지 농도 변수(PM10_lag1) 추가
# 전일 같은 시간은 24시간 전 입니다.
df_21['PM10_lag1'] = df_21['PM10'].shift(periods=24)
df_22['PM10_lag1'] = df_22['PM10'].shift(periods=24)

---

#### **<span style="color:blue">[2-7] t+1 시점의 미세먼지 농도 데이터 생성</span>**

* t+1 시점은 1시간 후 입니다.
* t+1 시점의 미세먼지 농도 변수를 생성하세요.
* t+1 시점의 미세먼지 농도는 머신러닝 모델을 통해 예측하려는 y값(target) 입니다.

In [313]:
# df_21, df_22에 t+1 시점 변수(PM10_1) 추가
df_21['PM10_1'] = df_21['PM10'].shift(periods=-1)
df_22['PM10_1'] = df_22['PM10'].shift(periods=-1)

df_22.head(25)

,SO2,CO,O3,NO2,PM10,PM25,기온(°C),강수량(mm),풍속(m/s),풍향(16방위),습도(%),증기압(hPa),현지기압(hPa),지면온도(°C),month,day,hour,PM10_lag1,PM10_1
time,,,,,,,,,,,,,,,,,,,
2022-01-01 00:00:00,0.003,0.4,0.026,0.016,23.0,12.0,-8.5,0.0,1.9,320,41,1.3,1021.9,-7.0,1,1,0,NaN,20.0
2022-01-01 01:00:00,0.003,0.4,0.022,0.020,20.0,9.0,-9.2,0.0,1.8,270,42,1.3,1022.2,-7.2,1,1,1,NaN,20.0
2022-01-01 02:00:00,0.003,0.5,0.014,0.028,20.0,9.0,-9.5,0.0,1.2,270,43,1.3,1022.3,-7.5,1,1,2,NaN,19.0
2022-01-01 03:00:00,0.003,0.5,0.016,0.027,19.0,10.0,-9.3,0.0,1.4,290,46,1.4,1022.6,-7.6,1,1,3,NaN,24.0
2022-01-01 04:00:00,0.003,0.5,0.005,0.040,24.0,11.0,-9.6,0.0,1.7,340,48,1.4,1021.9,-7.6,1,1,4,NaN,19.0
2022-01-01 05:00:00,0.003,0.6,0.002,0.045,19.0,11.0,-9.7,0.0,0.8,270,51,1.5,1022.0,-7.7,1,1,5,NaN,24.0
2022-01-01 06:00:00,0.003,0.6,0.002,0.044,24.0,14.0,-9.8,0.0,1.9,20,53,1.5,1021.7,-7.6,1,1,6,NaN,27.0
2022-01-01 07:00:00,0.003,0.6,0.002,0.042,27.0,16.0,-10.1,0.0,1.9,50,55,1.6,1021.6,-7.6,1,1,7,NaN,26.0
2022-01-01 08:00:00,0.003,0.6,0.006,0.038,26.0,12.0,-10.2,0.0,2.5,20,56,1.6,1021.8,-7.4,1,1,8,NaN,22.0
2022-01-01 09:00:00,0.004,0.5,0.019,0.024,22.0,10.0,-9.1,0.0,2.1,50,56,1.7,1021.9,-6.4,1,1,9,NaN,22.0
2022-01-01 10:00:00,0.004,0.4,0.024,0.020,22.0,10.0,-6.8,0.0,2.3,50,42,1.6,1022.4,-3.1,1,1,10,NaN,22.0
2022-01-01 11:00:00,0.004,0.5,0.021,0.025,22.0,10.0,-4.3,0.0,0.9,50,37,1.6,1022.3,-0.4,1,1,11,NaN,28.0
2022-01-01 12:00:00,0.004,0.5,0.020,0.028,28.0,17.0,-2.3,0.0,1.2,90,34,1.8,1021.4,3.0,1,1,12,NaN,27.0
2022-01-01 13:00:00,0.004,0.5,0.020,0.027,27.0,15.0,-0.1,0.0,1.5,160,32,1.9,1020.3,5.5,1,1,13,NaN,29.0
2022-01-01 14:00:00,0.004,0.5,0.020,0.030,29.0,18.0,1.3,0.0,2.2,180,32,2.1,1019.1,5.1,1,1,14,NaN,29.0
2022-01-01 15:00:00,0.004,0.5,0.017,0.032,29.0,18.0,1.9,0.0,1.7,230,35,2.5,1018.5,2.1,1,1,15,NaN,36.0
2022-01-01 16:00:00,0.004,0.5,0.012,0.039,36.0,20.0,1.8,0.0,1.4,290,37,2.6,1018.4,0.0,1,1,16,NaN,34.0
2022-01-01 17:00:00,0.004,0.6,0.005,0.046,34.0,21.0,0.5,0.0,1.5,180,38,2.4,1018.5,-0.3,1,1,17,NaN,35.0
2022-01-01 18:00:00,0.004,0.7,0.002,0.052,35.0,22.0,-0.9,0.0,0.7,90,42,2.4,1018.2,-1.2,1,1,18,NaN,34.0
2022-01-01 19:00:00,0.004,0.7,0.002,0.050,34.0,19.0,-1.2,0.0,0.9,200,45,2.5,1018.2,-1.0,1,1,19,NaN,36.0
2022-01-01 20:00:00,0.004,0.8,0.002,0.053,36.0,20.0,-1.6,0.0,0.9,70,47,2.6,1017.8,-2.3,1,1,20,NaN,38.0
2022-01-01 21:00:00,0.004,1.0,0.002,0.060,38.0,23.0,-2.4,0.0,2.1,20,49,2.5,1017.5,-3.0,1,1,21,NaN,41.0
2022-01-01 22:00:00,0.005,1.2,0.002,0.066,41.0,29.0,-2.5,0.0,1.0,50,49,2.5,1017.4,-3.4,1,1,22,NaN,42.0
2022-01-01 23:00:00,0.005,1.2,0.002,0.064,42.0,26.0,-2.6,0.0,0.9,70,52,2.6,1017.1,-3.0,1,1,23,NaN,38.0
2022-01-02 00:00:00,0.004,0.8,0.002,0.052,38.0,24.0,-2.8,0.0,2.3,50,55,2.7,1016.3,-3.3,1,2,0,23.0,34.0

In [314]:
# 결측치가 있다면 처리
df_21 = df_21.dropna()
df_22 = df_22.dropna()
df_21.head(25)

,SO2,CO,O3,NO2,PM10,PM25,기온(°C),강수량(mm),풍속(m/s),풍향(16방위),습도(%),증기압(hPa),현지기압(hPa),지면온도(°C),month,day,hour,PM10_lag1,PM10_1
time,,,,,,,,,,,,,,,,,,,
2021-10-02 00:00:00,0.002,0.3,0.046,0.012,10.0,7.0,17.0,0.6,2.9,50.0,90,17.4,999.6,17.8,10,2,0,31.0,9.0
2021-10-02 01:00:00,0.003,0.3,0.041,0.014,9.0,6.0,16.6,0.0,1.8,50.0,90,16.9,999.8,17.6,10,2,1,27.0,9.0
2021-10-02 02:00:00,0.003,0.3,0.039,0.015,9.0,8.0,16.8,0.0,0.9,20.0,91,17.4,1000.0,17.9,10,2,2,28.0,10.0
2021-10-02 03:00:00,0.003,0.4,0.029,0.016,10.0,7.0,16.6,0.0,0.9,50.0,93,17.5,1000.5,17.7,10,2,3,26.0,11.0
2021-10-02 04:00:00,0.002,0.4,0.029,0.016,11.0,9.0,16.7,0.0,1.3,20.0,93,17.6,1001.0,17.4,10,2,4,26.0,11.0
2021-10-02 05:00:00,0.003,0.4,0.025,0.019,11.0,7.0,16.5,0.0,1.2,20.0,95,17.7,1001.2,17.6,10,2,5,22.0,13.0
2021-10-02 06:00:00,0.003,0.4,0.023,0.022,13.0,7.0,16.6,0.0,1.3,20.0,94,17.7,1001.9,18.0,10,2,6,25.0,14.0
2021-10-02 07:00:00,0.003,0.4,0.012,0.030,14.0,7.0,16.9,0.0,0.9,20.0,94,18.1,1002.6,18.4,10,2,7,24.0,15.0
2021-10-02 08:00:00,0.003,0.4,0.015,0.028,15.0,7.0,17.5,0.0,1.9,50.0,95,18.9,1003.3,19.5,10,2,8,23.0,18.0
2021-10-02 09:00:00,0.003,0.5,0.020,0.028,18.0,7.0,18.8,0.0,1.9,20.0,91,19.6,1003.6,23.9,10,2,9,40.0,24.0
2021-10-02 10:00:00,0.003,0.4,0.033,0.025,24.0,11.0,20.9,0.0,0.9,230.0,81,20.0,1004.2,26.9,10,2,10,49.0,26.0
2021-10-02 11:00:00,0.003,0.4,0.042,0.022,26.0,13.0,21.7,0.0,0.7,340.0,77,19.9,1004.3,27.7,10,2,11,43.0,30.0
2021-10-02 12:00:00,0.003,0.4,0.051,0.019,30.0,16.0,23.5,0.0,1.8,270.0,64,18.4,1004.0,33.6,10,2,12,43.0,34.0
2021-10-02 13:00:00,0.003,0.4,0.059,0.019,34.0,20.0,24.2,0.0,2.3,270.0,61,18.3,1003.3,32.7,10,2,13,42.0,31.0
2021-10-02 14:00:00,0.003,0.4,0.069,0.016,31.0,21.0,25.7,0.0,2.4,200.0,55,18.1,1002.9,33.4,10,2,14,40.0,28.0
2021-10-02 15:00:00,0.003,0.4,0.070,0.014,28.0,14.0,26.2,0.0,2.2,230.0,54,18.3,1002.6,31.8,10,2,15,39.0,31.0
2021-10-02 16:00:00,0.004,0.4,0.071,0.015,31.0,19.0,26.1,0.0,3.0,270.0,53,17.8,1002.9,28.0,10,2,16,42.0,32.0
2021-10-02 17:00:00,0.003,0.5,0.061,0.020,32.0,19.0,25.2,0.0,3.1,250.0,55,17.6,1003.4,24.3,10,2,17,44.0,38.0
2021-10-02 18:00:00,0.004,0.5,0.057,0.027,38.0,25.0,23.7,0.0,2.2,270.0,58,16.9,1003.9,22.0,10,2,18,43.0,40.0
2021-10-02 19:00:00,0.004,0.6,0.046,0.030,40.0,25.0,22.5,0.0,0.7,270.0,64,17.4,1004.2,20.4,10,2,19,48.0,46.0
2021-10-02 20:00:00,0.003,0.7,0.036,0.033,46.0,30.0,21.1,0.0,1.6,270.0,72,17.9,1005.4,19.8,10,2,20,51.0,43.0
2021-10-02 21:00:00,0.004,0.7,0.022,0.038,43.0,27.0,20.8,0.0,0.3,0.0,77,18.9,1005.7,19.2,10,2,21,45.0,41.0
2021-10-02 22:00:00,0.003,0.7,0.019,0.037,41.0,25.0,20.3,0.0,0.7,230.0,79,18.8,1006.1,18.8,10,2,22,33.0,40.0
2021-10-02 23:00:00,0.003,0.8,0.005,0.046,40.0,26.0,19.9,0.0,0.7,340.0,84,19.5,1006.6,18.5,10,2,23,11.0,38.0
2021-10-03 00:00:00,0.003,0.7,0.007,0.038,38.0,24.0,19.5,0.0,0.7,360.0,86,19.4,1006.8,18.2,10,3,0,10.0,37.0

---

#### **<span style="color:blue">[2-8] train, test 데이터 분리</span>**

* 21년도 데이터(df_21)를 train 데이터로 저장하세요. y 값을 제외하고 train_x로 저장한 후 y 값은 train_y로 저장하세요.
* 22년도 데이터(df_22)를 test 데이터로 저장하세요. y 값을 제외하고 test_x로 저장한 후 y 값은 test_y로 저장하세요.
* 각각의 데이터프레임을 csv 파일로 저장하세요. (train_x.csv / train_y.csv / test_x.csv / test_y.csv)
* y값은 'PM10_1' 즉, t+1 시점의 미세먼지 농도입니다.

In [315]:
# 아래에 필요한 코드를 작성하고 결과를 확인합니다.
df_21.drop('PM10_1',axis=1).to_csv('./train_x.csv')
df_22.drop('PM10_1',axis=1).to_csv('./test_x.csv')
df_21['PM10_1'].to_csv('./train_y.csv')
df_22['PM10_1'].to_csv('./test_y.csv')

In [316]:
# 각각의 데이터프레임을 csv 파일로 저장 (train_x.csv / train_y.csv / test_x.csv / test_y.csv)
x = pd.read_csv('train_x.csv')
y = pd.read_csv('train_y.csv')
z = pd.read_csv('test_x.csv')
a = pd.read_csv('test_y.csv')