### Daum Exchange
- `https://finance.daum.net`

In [ ]:
# 파이썬 request가 거부되는 경우
# useragent 수정으로 우회하기

In [1]:
import warnings
warnings.filterwarnings('ignore')
import requests
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
# 동적 서비스 크롤링 프로세스
#1. 웹서비스분석 : URL
#2. request(URL) > response : json(str)
#3. json(str) > list, dict > DataFrame

In [23]:
def cost():
    #1. 웹서비스분석 : URL
    url = 'https://finance.daum.net/api/exchanges/summaries'
    headers = { # 어뷰징을 막는 헤더는 직접 찾아봐야 한다
        'user-agent' : 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/110.0.0.0 Safari/537.36',
        'referer' : 'https://finance.daum.net/exchanges',
        
    }
    #2. request(URL) > response : json(str)
    response = requests.get(url,headers=headers)
    #3. json(str) > list, dict > DataFrame
    data = response.json()
    df = pd.DataFrame(data['data'])
    return pd.DataFrame(df)

In [26]:
pd.options.display.max_columns=30
cost().head(2)

,symbolCode,date,currencyCode,currencyName,currencyUnit,country,region,name,recurrenceCount,basePrice,change,changePrice,changeRate,cashBuyingPrice,cashSellingPrice,ttBuyingPrice,ttSellingPrice,tcBuyingPrice,fcSellingPrice,exchangeCommission,usDollarRate,chartImageUrl
0,FRX.KRWUSD,2023-02-16 15:09:52,USD,달러,1,미국,"{'korName': '아메리카', 'engName': 'America'}",미국 (KRW/USD),526,1284.00,FALL,3.00,0.002331,1306.47,1261.53,1271.50,1296.50,None,None,6.4139,1.000,{'day': 'https://t1.daumcdn.net/finance/chart/...
1,FRX.KRWJPY,2023-02-16 15:09:52,JPY,엔,100,일본,"{'korName': '아시아', 'engName': 'Asia'}",일본 (KRW/JPY100),526,959.14,FALL,0.06,0.000063,975.92,942.36,949.75,968.53,None,None,2.0268,0.747,{'day': 'https://t1.daumcdn.net/finance/chart/...