In [ ]:
# summary

# web : server-client : url
# ë™ì í˜ì´ì§€ : URLë³€í™” ì—†ì´ í˜ì´ì§€ì˜ ë°ì´í„° ìˆ˜ì • : json(str) > response.json() > DataFrame
# ì •ì í˜ì´ì§€ : URLë³€í™” ìˆì´ í˜ì´ì§€ì˜ ë°ì´í„° ìˆ˜ì • : html(str) > BeautifulSoup > css-selector > DataFrame
# selenium : ì›¹ë¸Œë¼ìš°ì €ë¥¼ python ì½”ë“œë¡œ ì»¨íŠ¸ë¡¤í•´ì„œ ë°ì´í„° ìˆ˜ì§‘
# requests(ë™ì í˜ì´ì§€,API) > requests(ì •ì í˜ì´ì§€) > selenium

# ì›¹í¬ë¡¤ë§ ì ˆì°¨
#1. ì›¹ì„œë¹„ìŠ¤ë¶„ì„(ê°œë°œìë„êµ¬), APIë¬¸ì„œ : URL
#2. request(URL) > response(data) : data(json(str)), html(str)
#3. data(json(str), html(str)) > response.json(), BeautifulSouop(css-selector) > DataFrame

# request ì‹œ 401, 403, 5XX errorê°€ ë°œìƒí•˜ëŠ” ê²½ìš° > headers ìˆ˜ì •í•´ì„œ ë°ì´í„° ìš”ì²­(user-agent, refere)
# API ìˆ˜ì§‘ : request token ë°œí–‰ í›„ í¬ë¡¤ë§

### Zigbang ì›ë£¸ ë§¤ë¬¼ ë°ì´í„° ìˆ˜ì§‘

In [1]:
import pandas as pd
import requests
import geohash2

#### Process
    - ë™ì´ë¦„ìœ¼ë¡œ ìœ„ë„ ê²½ë„ êµ¬í•˜ê¸°
    - ìœ„ë„ ê²½ë„ë¡œ geohash ì•Œì•„ë‚´ê¸°
    - geohashë¡œ ë§¤ë¬¼ ì•„ì´ë”” ê°€ì ¸ì˜¤ê¸°
    - ë§¤ë¬¼ ì•„ì´ë””ë¡œ ë§¤ë¬¼ ì •ë³´ ê°€ì ¸ì˜¤ê¸°

> ëª©í‘œ : ë™ ì´ë¦„ ì…ë ¥ > ë§¤ë¬¼ ë°ì´í„° ì¶œë ¥

In [ ]:
data_interface = \
{
  "success": True,
  "code": "200",
  "items": [
    {
      "id": 2654,
      "type": "address",
      "name": "ì²¨ë‹¨2ë™",
      "hint": "",
      "description": "ê´‘ì£¼ì‹œ ê´‘ì‚°êµ¬ ì²¨ë‹¨2ë™",
      "lat": 35.21628952026367,
      "lng": 126.84334564208984,
      "zoom": 5,
      "polygon": [],
      "_score": "",
      "_source": {
        "name_length": 4,
        "local1": "ê´‘ì£¼ì‹œ",
        "local2": "ê´‘ì‚°êµ¬",
        "local3": "ì²¨ë‹¨2ë™",
        "web_level": 15,
        "web_lat": 35.21628952026367,
        "web_lng": 126.84334564208984,
        "app_level": 15,
        "app_lat": 35.21628952026367,
        "app_lng": 126.84334564208984,
        "ë²•ì •ë™ì½”ë“œ": ""
      },
      "zoom_level": {
        "google": 15,
        "daum": 4
      },
      "zoom_level_v2": {
        "app": 5,
        "web": 4
      }
    }
  ],
  "next": "",
  "limit": 0
}

In [4]:
a = {"success":True,"code":"200","items":[{"id":11707,"type":"school","name":"ì²¨ë‹¨ê³ ë“±í•™êµ","hint":"","description":"ê´‘ì£¼ê´‘ì—­ì‹œ ê´‘ì‚°êµ¬ ì›”ê³„ë™","lat":35.206729146557365,"lng":126.83726443553984,"zoom":3,"polygon":[],"_score":"","_source":{"name_length":6,"school_code":"F100001155","gender":"both","stage":"high","sullib":"public","foundation_date":"2004-12-29","address":"ê´‘ì£¼ê´‘ì—­ì‹œ ê´‘ì‚°êµ¬ ì›”ê³„ë™ 864-5","local1":"ê´‘ì£¼ê´‘ì—­ì‹œ","local2":"ê´‘ì‚°êµ¬","local3":"ì›”ê³„ë™","suggestions_insensitive":["ì²¨ë‹¨ê³ ë“±í•™êµ"],"distance":1000},"zoom_level":{"google":15,"daum":4},"zoom_level_v2":{"app":4,"web":4}}],"next":"","limit":0}
pd.DataFrame(a['items'])

,id,type,name,hint,description,lat,lng,zoom,polygon,_score,_source,zoom_level,zoom_level_v2
0,11707,school,ì²¨ë‹¨ê³ ë“±í•™êµ,,ê´‘ì£¼ê´‘ì—­ì‹œ ê´‘ì‚°êµ¬ ì›”ê³„ë™,35.206729,126.837264,3,[],,"{'name_length': 6, 'school_code': 'F100001155'...","{'google': 15, 'daum': 4}","{'app': 4, 'web': 4}"

#### 1. ë™ì´ë¦„ìœ¼ë¡œ ìœ„ë„ ê²½ë„ êµ¬í•˜ê¸°

In [13]:
address = "ì²¨ë‹¨2ë™"
url = f"https://apis.zigbang.com/v2/search?leaseYn=N&q={address}&serviceType=ì›ë£¸"
response = requests.get(url)

data = response.json()['items'][0]
lat,lng = data['lat'],data['lng']
lat,lng

(35.21628952026367, 126.84334564208984)

#### 2. ìœ„ë„ ê²½ë„ë¡œ geohash ì•Œì•„ë‚´ê¸°

In [24]:
geohash = geohash2.encode(lat,lng,5)
geohash

'wy60q'

In [25]:
geohash2.decode(geohash)

('35.2', '126.8')

#### 3. geohashë¡œ ë§¤ë¬¼ ì•„ì´ë”” ê°€ì ¸ì˜¤ê¸°

In [27]:
url = f"https://apis.zigbang.com/v2/items?deposit_gteq=0&deposit_lteq=5000&domain=zigbang&geohash={geohash}&needHasNoFiltered=\
true&rent_gteq=0&sales_type_in=ì „ì„¸|ì›”ì„¸&service_type_eq=ì›ë£¸"
url

'https://apis.zigbang.com/v2/items?deposit_gteq=0&deposit_lteq=5000&domain=zigbang&geohash=wy60q&needHasNoFiltered=true&rent_gteq=0&sales_type_in=ì „ì„¸|ì›”ì„¸&service_type_eq=ì›ë£¸'

In [38]:
response = requests.get(url)
data = response.json()['items']
ids = [item['item_id'] for item in data]
len(ids), ids[:2]

(90, [35146489, 35437152])

#### 4. ë§¤ë¬¼ ì•„ì´ë””ë¡œ ë§¤ë¬¼ ì •ë³´ ê°€ì ¸ì˜¤ê¸°

In [39]:
url = 'https://apis.zigbang.com/v2/items/list'
#if len(ids) > 999:
#    ids = ids[:990]
params = {
    "domain":"zigbang",
    "withCoalition":'true',
    "item_ids": ids, # ì§ë°©ì—ì„  ì•„ì´í…œ ê°¯ìˆ˜ë¥¼ 999ê¹Œì§€ ì‚¬ìš© ê°€ëŠ¥í•¨
}
response = requests.post(url,params)
response

In [55]:
df = pd.DataFrame(response.json()['items'])
df.tail(2)

,section_type,item_id,images_thumbnail,sales_type,sales_title,deposit,rent,size_m2,ê³µê¸‰ë©´ì,ì „ìš©ë©´ì,ê³„ì•½ë©´ì,room_type_title,floor,floor_string,building_floor,title,is_first_movein,room_type,address,random_location,is_zzim,status,service_type,tags,address1,address2,address3,manage_cost,reg_date,is_new,contract
88,None,35215746,https://ic.zigbang.com/ic/items/35215746/1.jpg,ì›”ì„¸,ì›”ì„¸,200,30,33.06,"{'m2': 33.06, 'p': '10'}","{'m2': 33.06, 'p': '10'}",None,None,2,2,4,ğŸ”µì²¨ë‹¨3ì§€êµ¬ğŸ”µì¸ê¸°ë§ì€ğŸ”µì˜¤í”¼í˜•ğŸ”µì‹ ì¶•ì›ë£¸ğŸ”µ,None,02,ì¥ì„±êµ° ë‚¨ë©´ ì‚¼íƒœë¦¬,"{'lat': 35.23625398068905, 'lng': 126.83339638...",False,True,ì›ë£¸,[],ì „ë¼ë‚¨ë„ ì¥ì„±êµ° ë‚¨ë©´ ì‚¼íƒœë¦¬,None,None,5,2023-02-01T14:25:01+09:00,False,
89,None,34939568,https://ic.zigbang.com/ic/items/34939568/1.jpg,ì›”ì„¸,ì›”ì„¸,200,33,36.36,"{'m2': 36.36, 'p': '11'}","{'m2': 36.36, 'p': '11'}",None,None,3,3,4,â™£ì‹ ì¶•ì²«ì…ì£¼(ì¸ê¸°)ì˜¤í”¼ìŠ¤í…”í˜•â™£ë‚´ë¶€ê¹”ë”â™£í™”ì´íŠ¸í†¤â™£ëŒ€ë°•ì›ë£¸â™£,None,02,ì¥ì„±êµ° ë‚¨ë©´ ì‚¼íƒœë¦¬,"{'lat': 35.23641843071505, 'lng': 126.83318128...",False,True,ì›ë£¸,[ì¶”ì²œ],ì „ë¼ë‚¨ë„ ì¥ì„±êµ° ë‚¨ë©´ ì‚¼íƒœë¦¬,None,None,5,2023-02-13T16:59:36+09:00,False,

In [56]:
pd.options.display.max_columns=50

In [57]:
df.tail(2)

,section_type,item_id,images_thumbnail,sales_type,sales_title,deposit,rent,size_m2,ê³µê¸‰ë©´ì,ì „ìš©ë©´ì,ê³„ì•½ë©´ì,room_type_title,floor,floor_string,building_floor,title,is_first_movein,room_type,address,random_location,is_zzim,status,service_type,tags,address1,address2,address3,manage_cost,reg_date,is_new,contract
88,None,35215746,https://ic.zigbang.com/ic/items/35215746/1.jpg,ì›”ì„¸,ì›”ì„¸,200,30,33.06,"{'m2': 33.06, 'p': '10'}","{'m2': 33.06, 'p': '10'}",None,None,2,2,4,ğŸ”µì²¨ë‹¨3ì§€êµ¬ğŸ”µì¸ê¸°ë§ì€ğŸ”µì˜¤í”¼í˜•ğŸ”µì‹ ì¶•ì›ë£¸ğŸ”µ,None,02,ì¥ì„±êµ° ë‚¨ë©´ ì‚¼íƒœë¦¬,"{'lat': 35.23625398068905, 'lng': 126.83339638...",False,True,ì›ë£¸,[],ì „ë¼ë‚¨ë„ ì¥ì„±êµ° ë‚¨ë©´ ì‚¼íƒœë¦¬,None,None,5,2023-02-01T14:25:01+09:00,False,
89,None,34939568,https://ic.zigbang.com/ic/items/34939568/1.jpg,ì›”ì„¸,ì›”ì„¸,200,33,36.36,"{'m2': 36.36, 'p': '11'}","{'m2': 36.36, 'p': '11'}",None,None,3,3,4,â™£ì‹ ì¶•ì²«ì…ì£¼(ì¸ê¸°)ì˜¤í”¼ìŠ¤í…”í˜•â™£ë‚´ë¶€ê¹”ë”â™£í™”ì´íŠ¸í†¤â™£ëŒ€ë°•ì›ë£¸â™£,None,02,ì¥ì„±êµ° ë‚¨ë©´ ì‚¼íƒœë¦¬,"{'lat': 35.23641843071505, 'lng': 126.83318128...",False,True,ì›ë£¸,[ì¶”ì²œ],ì „ë¼ë‚¨ë„ ì¥ì„±êµ° ë‚¨ë©´ ì‚¼íƒœë¦¬,None,None,5,2023-02-13T16:59:36+09:00,False,

In [58]:
df.columns

Index(['section_type', 'item_id', 'images_thumbnail', 'sales_type',
       'sales_title', 'deposit', 'rent', 'size_m2', 'ê³µê¸‰ë©´ì ', 'ì „ìš©ë©´ì ', 'ê³„ì•½ë©´ì ',
       'room_type_title', 'floor', 'floor_string', 'building_floor', 'title',
       'is_first_movein', 'room_type', 'address', 'random_location', 'is_zzim',
       'status', 'service_type', 'tags', 'address1', 'address2', 'address3',
       'manage_cost', 'reg_date', 'is_new', 'contract'],
      dtype='object')

In [59]:
columns = ['item_id', 'sales_type','deposit', 'rent', 'size_m2',
    'floor','building_floor', 'title','address',
    'status', 'service_type', 'tags', 'address1','manage_cost']
df=df[columns]
df.tail(2)

,item_id,sales_type,deposit,rent,size_m2,floor,building_floor,title,address,status,service_type,tags,address1,manage_cost
88,35215746,ì›”ì„¸,200,30,33.06,2,4,ğŸ”µì²¨ë‹¨3ì§€êµ¬ğŸ”µì¸ê¸°ë§ì€ğŸ”µì˜¤í”¼í˜•ğŸ”µì‹ ì¶•ì›ë£¸ğŸ”µ,ì¥ì„±êµ° ë‚¨ë©´ ì‚¼íƒœë¦¬,True,ì›ë£¸,[],ì „ë¼ë‚¨ë„ ì¥ì„±êµ° ë‚¨ë©´ ì‚¼íƒœë¦¬,5
89,34939568,ì›”ì„¸,200,33,36.36,3,4,â™£ì‹ ì¶•ì²«ì…ì£¼(ì¸ê¸°)ì˜¤í”¼ìŠ¤í…”í˜•â™£ë‚´ë¶€ê¹”ë”â™£í™”ì´íŠ¸í†¤â™£ëŒ€ë°•ì›ë£¸â™£,ì¥ì„±êµ° ë‚¨ë©´ ì‚¼íƒœë¦¬,True,ì›ë£¸,[ì¶”ì²œ],ì „ë¼ë‚¨ë„ ì¥ì„±êµ° ë‚¨ë©´ ì‚¼íƒœë¦¬,5

In [60]:
df = df[df['address1'].str.contains("ì›”ê³„ë™").reset_index(drop=True)]
df.tail(2)

,item_id,sales_type,deposit,rent,size_m2,floor,building_floor,title,address,status,service_type,tags,address1,manage_cost
75,35410308,ì›”ì„¸,300,37,39.67,2,4,â™£ì¸ê¸°(ê¹”ë”)íˆ¬ë£¸í¬ê¸°â™£ì—˜ë¦¬ë² ì´í„°â™£ë°©í¬ê¸°å¤§â™£ëŒ€ë°•ì›ë£¸â™£,ê´‘ì‚°êµ¬ ì›”ê³„ë™,True,ì›ë£¸,[ì¶”ì²œ],ê´‘ì£¼ì‹œ ê´‘ì‚°êµ¬ ì›”ê³„ë™,5
76,35406439,ì›”ì„¸,300,38,49.59,2,4,â¤ì›”ê³„ë™ ëíŒì™•â¤ ê°€ì„±ë¹„ ì¢‹ì€ë°© â¤ê¹”ë”í•œ ë°©â¤,ê´‘ì‚°êµ¬ ì›”ê³„ë™,True,ë¹Œë¼,[],ê´‘ì£¼ì‹œ ê´‘ì‚°êµ¬ ì›”ê³„ë™,5

In [ ]:
# python pep documents
# pep20, pep8 
# flake8 - ì½”ë“œíš¨ìœ¨ì„± ì²´í¬

In [61]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [ ]:
# pep8 : ë¬¸ë²•(ì—ëŸ¬O,ì½”ë“œì‹¤í–‰X),ì»¨ë²¤ì…˜(ì—ëŸ¬X,ì½”ë“œì‹¤í–‰O)