# 안녕하세요:)

## AIVLE 미니프로젝트 '서울시 생활정보 기반 대중교통 수요 분석 ' 과정에 오신 여러분을 환영합니다.
* 본 과정에서는 서울시 생활정보 데이터를 기반으로 데이터 분석을 시도하고 주어진 문제를 해결할 것입니다.
* 우리는 공공 데이터를 활용해 버스노선 관련 인사이트를 도출하여 유용한 정책을 세우는데 도움을 주고자 합니다

## 조별과제
* 데이터간 관계 가설 수립 및 검증, 비즈니스 인사이트 도출 (버스 시설 추가 필요 대상 지역(구) 선정)

## ▣ 우리가 풀어야 하는 문제는 무엇인가요?

* 제공 데이터
    - 구 별 유동인구 데이터
    - 구 별 주민 등록 데이터
    - 구 별 업종 등록 정보
    - 버스 승하차 및 운행 노선 데이터 

### 위 제공 데이터를 분석하여 버스 노선 추가 필요 대상 지역(구 단위)을 선정합니다

# 이 4개의 데이터들을 어떻게 합칠까요?

In [12]:
import pandas as pd

In [13]:
# 버스 정류장 데이터 - df_seoul_bus_station
# 유동인구 데이터 - df_seoul_moving
# 구별 상권 데이터 - df_seoul_business
# 구별 등록 인구 데이터 - df_seoul_people
df_seoul_bus_station = pd.read_csv('./df_seoul_bus_station.csv',index_col=0)
df_seoul_moving = pd.read_csv('./df_seoul_moving_.csv',index_col=0)
#df_seoul_business = pd.read_csv('./df_seoul_business.csv',index_col=0)
df_seoul_people = pd.read_csv('./df_seoul_people.csv',index_col=0)

In [14]:
df = pd.merge(df_seoul_bus_station,df_seoul_moving,how='inner', on='자치구')

In [15]:
#df = pd.merge(df,df_seoul_business,how='inner', on='자치구')

In [16]:
df = pd.merge(df,df_seoul_people,how='inner', on='자치구')

In [17]:
df.head()

,자치구,버스정류장ARS번호,노선수,승차총승객수,하차총승객수,승차평균승객수,하차평균승객수,이동 시간 총합(분),이동인구총합,평균 이동 시간(분),...,남자합계,여자합계,한국인계,한국인남자,한국인여자,등록외국인계,등록외국인남자,등록외국인여자,세대당인구,65세이상고령자
0,강남구,499,91,8030483,7569213,128.767927,121.371512,12904380,46152613.40,23.284573,...,257096,280242,532577,254866,277711,4761,2230,2531,2.27,79575
1,강동구,369,21,2890053,2830506,99.161194,97.118065,9596980,21996357.39,26.108477,...,227891,237206,461300,226203,235097,3797,1688,2109,2.28,75477
2,강북구,413,67,4825181,4671783,133.020373,128.791504,8765160,13079023.71,24.282441,...,145934,154890,297384,144643,152741,3440,1291,2149,2.05,64961
3,강서구,566,49,4681083,4652828,88.119480,87.587591,10718780,22770901.22,25.496986,...,277797,300629,573046,275422,297624,5380,2375,3005,2.10,93924
4,관악구,466,86,7655819,7792476,154.753674,157.516040,10091730,19700285.30,23.842468,...,250450,249886,486375,244409,241966,13961,6041,7920,1.74,80686

In [18]:
df = df.rename(columns={'버스정류장ARS번호':'정류장수'})
df.head(1)

,자치구,정류장수,노선수,승차총승객수,하차총승객수,승차평균승객수,하차평균승객수,이동 시간 총합(분),이동인구총합,평균 이동 시간(분),...,남자합계,여자합계,한국인계,한국인남자,한국인여자,등록외국인계,등록외국인남자,등록외국인여자,세대당인구,65세이상고령자
0,강남구,499,91,8030483,7569213,128.767927,121.371512,12904380,46152613.4,23.284573,...,257096,280242,532577,254866,277711,4761,2230,2531,2.27,79575

In [19]:
df.columns

Index(['자치구', '정류장수', '노선수', '승차총승객수', '하차총승객수', '승차평균승객수', '하차평균승객수',
       '이동 시간 총합(분)', '이동인구총합', '평균 이동 시간(분)', '이동인구(평균)', '기간', '세대', '인구합계',
       '남자합계', '여자합계', '한국인계', '한국인남자', '한국인여자', '등록외국인계', '등록외국인남자',
       '등록외국인여자', '세대당인구', '65세이상고령자'],
      dtype='object')

In [20]:
df = df.drop(['세대','인구합계','남자합계','여자합계','한국인계','한국인남자','한국인여자','등록외국인계','등록외국인남자','등록외국인여자','세대당인구'],axis=1)

In [21]:
df.columns

Index(['자치구', '정류장수', '노선수', '승차총승객수', '하차총승객수', '승차평균승객수', '하차평균승객수',
       '이동 시간 총합(분)', '이동인구총합', '평균 이동 시간(분)', '이동인구(평균)', '기간', '65세이상고령자'],
      dtype='object')

In [22]:
df.corr()

,정류장수,노선수,승차총승객수,하차총승객수,승차평균승객수,하차평균승객수,이동 시간 총합(분),이동인구총합,평균 이동 시간(분),이동인구(평균),65세이상고령자
정류장수,1.000000,0.258798,0.566681,0.578479,-0.135318,-0.099146,0.397518,0.358511,0.219452,0.371123,0.554425
노선수,0.258798,1.000000,0.665488,0.652642,0.493541,0.470440,0.350980,0.220431,-0.687405,0.000147,-0.334297
승차총승객수,0.566681,0.665488,1.000000,0.996610,0.538720,0.547384,0.595533,0.577177,-0.130036,0.474238,0.295889
하차총승객수,0.578479,0.652642,0.996610,1.000000,0.534826,0.555137,0.590166,0.560022,-0.115611,0.464090,0.322254
승차평균승객수,-0.135318,0.493541,0.538720,0.534826,1.000000,0.989288,0.117840,0.066854,-0.388197,-0.075655,-0.306123
하차평균승객수,-0.099146,0.470440,0.547384,0.555137,0.989288,1.000000,0.132691,0.062656,-0.360495,-0.068452,-0.243298
이동 시간 총합(분),0.397518,0.350980,0.595533,0.590166,0.117840,0.132691,1.000000,0.934031,-0.142137,0.838273,0.267614
이동인구총합,0.358511,0.220431,0.577177,0.560022,0.066854,0.062656,0.934031,1.000000,0.045704,0.954598,0.345925
평균 이동 시간(분),0.219452,-0.687405,-0.130036,-0.115611,-0.388197,-0.360495,-0.142137,0.045704,1.000000,0.315108,0.718514
이동인구(평균),0.371123,0.000147,0.474238,0.464090,-0.075655,-0.068452,0.838273,0.954598,0.315108,1.000000,0.524977
65세이상고령자,0.554425,-0.334297,0.295889,0.322254,-0.306123,-0.243298,0.267614,0.345925,0.718514,0.524977,1.000000

In [23]:
import seaborn as sns
import matplotlib.pyplot as plt

plt.rc('font', family='nanum')
sns.set(font="Malgun Gothic",#"NanumGothicCoding", 
        rc={"axes.unicode_minus":False}, # 마이너스 부호 깨짐 현상 해결
        style='darkgrid')
import scipy.stats as spst

In [24]:
# 가설 1
#각 자치구에서 평균이동시간과 노선수
#H0 : 노선수와 평균이동시간(분)은 관계가 없다.
#H1 : 노선수와 평균이동시간(분)은 관계가 있다.
spst.pearsonr(df['평균 이동 시간(분)'],df['노선수'])

# (-0.68740, 0.00015) 강한 음의 상관관계

(-0.6874048303585872, 0.00014680687151646357)

In [ ]:
df['비율1'] = df['정류장수'] / df['승차총승객수'] * 10000
df.sort_values(by=['비율1'])

In [ ]:
# (예시2) 노선 수와 총 이동시간은 관계가 있다.

# H0 : 노선 수와 총 이동시간은 연관이 없다.

# H1 : 노선 수와 총 이동시간은 연관이 있다.

spst.pearsonr(df['노선수'],df['총 이동 시간'])

# 중간 양의 상관관계
# p-value 0.05 기준  작으면 -> 귀무가설 기각,  크면 -> 대립가설 기각 
# 노선수와 총 이동 시간은 상관관계가 있다?

## 1.가설 수립 
+ 어떤 데이터를 label 데이터로 하실 건가요?

    ? 정해진게 없나요? - 네 라벨을 조별로 고민하셔서 라벨데이터를 설정하시면 되겠습니다


    ? 가설마다 라벨데이터가 달라도 상관없나요? 네 그렇습니다


    ? 가설은 3개만 해야하나요? 그 이상 하셔도 무방합니다

## 가설을 설정해 봅시다 (조당 최소 3개) 
- 미니프로젝트 진행의 편의상 가설은 이변량 분석을 염두에 두고 설정해 주세요

* 가설 1

* 가설 2

* 가설 3

## 2.단변량 분석 
(조별로 3개 정도의 변수만 진행해주세요)

+ 변수의 의미  

+ 숫자? 범주?

+ 전처리 사항
   - NaN 존재 여부 및 조치 방안  
   - 가변수화 대상여부  
   
+ 기초통계량

+ 분포  

+ 위 정보로부터 파악한 내용 정리  

+ 추가 분석해볼 사항 도출

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt

# 시각화 한글폰트 설정
# 맑은 고딕

plt.rc('font', family='Malgun Gothic')
sns.set(font="Malgun Gothic",#"NanumGothicCoding", 
        rc={"axes.unicode_minus":False}, # 마이너스 부호 깨짐 현상 해결
        style='darkgrid')

# scipy
import scipy.stats as spst

### 1)

### 2)

### 3)

## 3.이변량 분석

* 자료의 종류에 맞게 X --> Y 에 대해서 그래프(시각화)와 가설검정(수치화)를 수행하고 결과를 평가합니다.

* 가설검정시 다음의 항목을 참조하여 수행합니다.
    * 유의수준 : 5%
    * 숫자 --> 숫자 : 상관분석
    * 범주 --> 범주 : 카이제곱검정
    * 범주 --> 숫자 : t검정, 분산분석
    * 숫자 --> 범주 : 로지스틱 회귀모형을 통해, 회귀계수의 P.value로 검정을 수행합니다.

### 1)

### 2)

### 3)

## 4.관계 정리

### 1) 강한 관계의 변수

*

### 2) 약한 관계의 변수

*

## 5.솔루션 도출

### 어느 구에 버스 노선 또는 정류장이 제일 필요한가요? 그 이유는?

*